        /* -------- Navbar & Welcome To My Website --------*/
*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url('C:/Users/HP/OneDrive/سطح المكتب/Website/surreal_files/ser.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

}
nav
{
    width: 100%;
    height: 60px;
    background-color: bisque;
}
.par
{
    float: left;
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
    margin-top: 0;
    margin-left:10px;
    font-size: 40px;
    padding: 9px;
}
nav ul
{
    list-style-type: none;
    float: right;
}
nav ul li
{
    display: inline-block;
    margin-top: 27px;
    margin-right:25px;
    font-size: 17px;
}
nav ul li a
{
    text-decoration: none;
    color: black;
}
nav ul li a:hover
{
    color: brown;
    border: 1px solid brown;
}
section
{
    margin: 40px;
    width: 50%;
    height: 100%;
}
.par2
{
    position: relative;
    top: 200px;
    right: 100px;
    font-family:Georgia, serif;
    font-size: 40px;
    height: 100%;
    width: 100%;
    text-align:left;
    margin-left: 8%;
    text-decoration: 1px underline;
}
.par2:hover
{
    color: brown;
}
    
              /* -------- Content --------*/

.ar1
{
    background-color:burlywood;
    width: 800px;
    height: 160px;
    position: relative;
    top: 600px;
    bottom: 20px;
    padding: 10px;
    left: 5%;
    border: 1px solid black;
}
.par3
{
    float: left;
    position: relative;
    left: 20px;
    top: 40px;
    line-height: 25px;
}
.img1
{
    width: 200px;
    height: 150px;
    position: relative;
    left: 50px;
    top:5px;
    box-shadow: 10px 0 20px black;
}
.ar2
{
    background-color:burlywood;
    width: 720px;
    height: 160px;
    padding: 10px;
    position: relative;
    top: 700px;
    left: 450px;
    border: 1px solid black;
}
.par4
{
    float: left;
    position: relative;
    left: 25px;
    top: 40px;
    line-height: 20px;
}
.img2
{
    width: 200px;
    position: relative;
    left: 80px;
    top:5px;
    height: 150px;
    box-shadow: 10px 0 20px black;
}
.ar3
{
    background-color: burlywood;
    width: 740px;
    height: 160px;
    padding: 10px;
    position: relative;
    top: 800px;
    right: 390px;
    left: 64px;
    bottom: 40px;
    border: 1px solid black;
}
.par5
{
    position: relative;
    left: 20px;
    top: 30px;
    line-height: 20px;
}
.img3
{
    width: 200px;
    height: 150px;
    position: relative;
    left: 490px;
    bottom: 94px;
    box-shadow: 10px 0 20px black;
}
.div-box
{
    background:bisque;
    margin: auto;
    position: relative;
    top: 900px;
    width: 450px;
    height: 1100px;
    border: 1.5px solid black;
}
.par6
{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    margin: auto;
    position: relative;
    left: 105px;
    top: 230px;
}
.par6:hover
{
    font-style:normal;
    color: black;
}
.img4
{
    width: 250px;
    height: 200px;
    margin: auto;
    position: relative;
    left: 95px;
    box-shadow: 0 0 20px black;
}
.child-box
{
    background:burlywood;
    position: relative;
    margin: auto;
    top: 60px;
    height: 580px;
    width: 300px;
    box-shadow: 0 0 20px black;
    padding: 10px;
}
.par7
{
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: 5px;
}
.a-font
{
    font-size: 12px;
}
.h33
{
    position: relative;
    left: 35px; 
    font-style: italic;
}
.img5
{
    width: 250px;
    height: 200px;
    position: relative;
    left: 96px;
    top: 40px;
    box-shadow: 0 0 20px black;
}
.footer
{
    background-color: moccasin;
    height: 300px;
    padding: 10px;
    position: relative;
    top: 1300px;
}
.navfooter
{
    color:brown;
    list-style-type: none;
    position: relative;
    left: 20px;
    top: 13px;
}
.li
{
    color:burlywood;
    position: relative;
    top: 25px;
    margin-top: 8px;
    left: 8px;
}
.li:hover
{
    color: brown;
}
.follow-us
{
    list-style-type: none;
    color: brown;
    position: relative;
    left: 240px;
    bottom: 135px;
}
.instw
{
    margin-top: 8px;
    position: relative;
    top: 23px;
    color: burlywood;
    left: 11px;
}
.instw:hover
{
    color: brown;
}
.fa-instagram-square
{
    position: relative;
    right: 10px;
    top: 5px;
}
.fa-twitter-square
{
    position: relative;
    right: 10px;
    top: 5px;

}
.our-location
{
    color: brown;
    list-style-type: none;
    position: relative;
    left: 495px;
    bottom: 242px;
}
.our
{
    position: relative;
    color: burlywood;
    top: 16px;
    margin-top: 12px;
}
.our:hover
{
    color: brown;
}
.fa-map-marker-alt
{
    position: relative;
    right: 16px;
    bottom: 2px;
}
.fa-phone-square-alt
{
    position: relative;
    right: 20px;
    bottom: 19px;
}
.References
{
    color: brown;
    list-style-type: none;
    position: relative;
    left: 900px;
    bottom: 378px;
}
.wiki
{
    position: relative;
    top: 25px;
    color: burlywood;
    margin-top: 8px;
}
.wiki:hover
{
    color: brown;
}
.copyright
{
    text-align: center;
    color:burlywood;
    position: relative;
    bottom: 220px;

}




@media (max-width:1038px)
{
    #father
    {
        display: none;
    }
}
@media (min-width:376px)
{
    #son
    {
        display: none;
    }
}